In [1]:
import pandas as pd
#import pandas_profiling
from matplotlib import pyplot as plt
import seaborn as sns

%matplotlib inline
pd.set_option('display.max_columns', 100)

In [2]:
tableAutomoviles = '1.csv'
tableMotocicletas = '2.csv'

In [3]:
vehiculos = pd.read_csv(tableAutomoviles)
motocicletas = pd.read_csv(tableMotocicletas)

In [4]:
vehiculos.shape

(4452, 33)

In [5]:
vehiculos.columns

Index(['ID', 'TIPO', 'CLASE', 'MARCA', 'LINEA', 'CILINDRAJE', 'TONELAJE',
       'PASAJE', 'MODELOS', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31',
       'Unnamed: 32'],
      dtype='object')

In [6]:
motocicletas.columns

Index(['ID', 'TIPO', 'CLASE', 'MARCA', 'LINEA', 'CILINDRAJE', 'TONELAJE',
       'PASAJE', 'MODELOS', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31',
       'Unnamed: 32'],
      dtype='object')

In [7]:
vehiculos.head()

,ID,TIPO,CLASE,MARCA,LINEA,CILINDRAJE,TONELAJE,PASAJE,MODELOS,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1,28681.0,AUTOMÓVILES,AUTOMOVIL,ACCURA,ACURA,3200.0,NaN,NaN,14900,16300,17400,18500,19700,21000,22300,23800,25300,27000,28700,30600,32500,34600,36800,39300,41800,44500,47300,50400,53600,57100,60800,63900,68900
2,25668.0,AUTOMÓVILES,AUTOMOVIL,ACURA,INTEGRA (LINEA BASE ESTANDAR),1800.0,0,0.0,4930,5950,6400,6900,7380,7870,8520,9200,9870,10650,11400,12260,13220,14090,15240,16390,17530,18880,20320,21850,23480,25310,27310,28660,31000
3,1.0,AUTOMÓVILES,AUTOMOVIL,ACURA,INTEGRA 1.8 2P MT,1800.0,0,0.0,6240,7380,7870,8340,8900,9580,10260,10830,11600,12460,13320,14090,15140,16190,17250,18410,19750,20990,22420,23970,25590,27310,29520,30960,33100
4,2.0,AUTOMÓVILES,AUTOMOVIL,ACURA,INTEGRA 1.8 VTEC 4P MT,1797.0,0,0.0,4930,5950,6400,6900,7380,7870,8520,9200,9870,10650,11400,12260,13220,14090,15240,16390,17530,18880,20320,21850,23480,25310,27310,28660,31000

In [8]:
motocicletas.head()

,ID,TIPO,CLASE,MARCA,LINEA,CILINDRAJE,TONELAJE,PASAJE,MODELOS,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1994,1995.0,1996.0,1997.0,1998.0,1999.0,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0
1,7881.0,MOTOCICLETAS Y\nMOTOCARROS,MOTOCICLETA,ACB,ACB 125 MT,125,0.0,0.0,370,380.0,380.0,380.0,380.0,380.0,380.0,480.0,577.0,670.0,760.0,860.0,860.0,860.0,957.0,1050.0,1150.0,1246.0,1340.0,1440.0,1630.0,1720.0,1910.0,2010.0,2100.0
2,7882.0,MOTOCICLETAS Y\nMOTOCARROS,MOTOCICLETA,ACB,B-STRONG 110 MT,107,0.0,0.0,370,380.0,380.0,380.0,380.0,380.0,380.0,480.0,577.0,670.0,760.0,830.0,875.0,916.0,957.0,1010.0,1060.0,1080.0,1100.0,1150.0,1246.0,1340.0,1440.0,1510.0,1800.0
3,7883.0,MOTOCICLETAS Y\nMOTOCARROS,MOTOCICLETA,ACB,FORTRESS 125 AT,125,0.0,0.0,370,380.0,380.0,380.0,480.0,577.0,670.0,760.0,760.0,760.0,860.0,957.0,1050.0,1150.0,1246.0,1246.0,1440.0,1630.0,1720.0,1910.0,2110.0,2200.0,2400.0,2520.0,3000.0
4,7884.0,MOTOCICLETAS Y\nMOTOCARROS,MOTOCICLETA,ACB,MONTANA 200 MT,200,0.0,0.0,370,380.0,380.0,380.0,380.0,380.0,380.0,380.0,380.0,480.0,480.0,480.0,480.0,577.0,670.0,760.0,860.0,860.0,957.0,957.0,1050.0,1150.0,1246.0,1310.0,1500.0

# Analisis Vehiculos

In [9]:
vehiculos = vehiculos[vehiculos.ID.notnull()]
vehiculos = vehiculos[['CLASE','MARCA', 'LINEA']]

In [10]:
vehiculos.head()

       CLASE   MARCA                          LINEA
1  AUTOMOVIL  ACCURA                          ACURA
2  AUTOMOVIL   ACURA  INTEGRA (LINEA BASE ESTANDAR)
3  AUTOMOVIL   ACURA              INTEGRA 1.8 2P MT
4  AUTOMOVIL   ACURA         INTEGRA 1.8 VTEC 4P MT
5  AUTOMOVIL   ACURA                LEGEND KA766P-L

In [11]:
vehiculos.CLASE.value_counts()

AUTOMOVIL             4450
AUTOMOVIL -\nBUGGY       1
Name: CLASE, dtype: int64

In [12]:
vehiculos = vehiculos[vehiculos.CLASE != "AUTOMOVIL -\nBUGGY"]

In [13]:
vehiculos.CLASE.value_counts()

AUTOMOVIL    4450
Name: CLASE, dtype: int64

In [14]:
motocicletas = motocicletas[motocicletas.ID.notnull()]
motocicletas = motocicletas[['CLASE','MARCA', 'LINEA']]

In [15]:
motocicletas.head()

         CLASE MARCA            LINEA
1  MOTOCICLETA   ACB       ACB 125 MT
2  MOTOCICLETA   ACB  B-STRONG 110 MT
3  MOTOCICLETA   ACB  FORTRESS 125 AT
4  MOTOCICLETA   ACB   MONTANA 200 MT
5  MOTOCICLETA   ACB   TORNADO 200 MT

# Concatenas tablas

In [16]:
vehiculos = vehiculos.append(motocicletas)
vehiculospruebas = vehiculos.append(motocicletas)

### reparando strings con caracter \n

In [22]:
#caracterR = '\n'
toreplace = 'MOTOCICLETA'
caracterR = 'Motocicleta'
prueba = 'Hola\nmundo'

In [23]:
#prueba.replace(caracter,toreplace)

In [24]:
#funcion para eliminar todos los \n
def reparar(row,caracter = caracterR ,change = toreplace):
    row.CLASE = row.CLASE.replace(caracter,change)
    row.MARCA = row.MARCA.replace(caracter,change)
    row.LINEA = row.LINEA.replace(caracter,change)
    return row

In [25]:
vehiculos = vehiculos.apply(reparar,axis = 1)

In [26]:
vehiculos.shape

(7085, 3)

In [27]:
vehiculos.head()

       CLASE   MARCA                          LINEA
1  AUTOMOVIL  ACCURA                          ACURA
2  AUTOMOVIL   ACURA  INTEGRA (LINEA BASE ESTANDAR)
3  AUTOMOVIL   ACURA              INTEGRA 1.8 2P MT
4  AUTOMOVIL   ACURA         INTEGRA 1.8 VTEC 4P MT
5  AUTOMOVIL   ACURA                LEGEND KA766P-L

In [28]:
vehiculos[vehiculos.MARCA == 'ACURA']

       CLASE  MARCA                                              LINEA
2  AUTOMOVIL  ACURA                      INTEGRA (LINEA BASE ESTANDAR)
3  AUTOMOVIL  ACURA                                  INTEGRA 1.8 2P MT
4  AUTOMOVIL  ACURA                             INTEGRA 1.8 VTEC 4P MT
5  AUTOMOVIL  ACURA                                    LEGEND KA766P-L
6  AUTOMOVIL  ACURA  LINEAS y CILINDRAJE NO INCLUIDAS DE ESTA MARCA...
7  AUTOMOVIL  ACURA                                         TL 2.5L AT
8  AUTOMOVIL  ACURA                                         TL 3.2L AT
9  AUTOMOVIL  ACURA                                       TSX 2.4 L AT

In [29]:
vehiculos.CLASE.value_counts()

AUTOMOVIL                4450
MOTOCICLETA              2011
CUATRIMOTO                326
MOTOCARRO                 241
MOTOCICLETA ELECTRICA      38
MOTOCARRO ELECTRICO        17
MOTOTRICICLO                2
Name: CLASE, dtype: int64

In [30]:
vehiculos.MARCA.value_counts()

BMW                    489
MERCEDES BENZ          336
HONDA                  322
VOLKSWAGEN             255
RENAULT                251
CHEVROLET              232
YAMAHA                 229
MAZDA                  208
PEUGEOT                204
HYUNDAI                201
AUDI                   192
SUZUKI                 172
KIA                    152
NISSAN                 150
VOLVO                  140
KAWASAKI               133
CITROEN                123
HARLEY DAVIDSON        121
AUTECO                 113
BRP CAN AM             113
FIAT                   113
TOYOTA                 110
FORD                   108
SKODA                  100
AKT                     97
SEAT                    88
SUBARU                  74
KTM                     73
DUCATI                  72
PORSCHE                 70
                      ...
SKOOT MOTORCYCLES        1
JIANGSU                  1
JIN JIAN                 1
ATV RATO                 1
ROLLS ROYCE              1
LA SALLE                 1
IOTA                     1
FRIBEST                  1
TEMPEST                  1
MORINI                   1
ZANELLA                  1
COLMOVE                  1
TEAN RYDER               1
RLX                      1
TARANTULA                1
YAMATI                   1
BIMOTA                   1
LINHAI                   1
SINGER                   1
JAWA                     1
YGM                      1
SANDI                    1
SANLG                    1
CHECKER                  1
JINLUN                   1
CHAMPION PERFOMANCE      1
HUDSON                   1
ARIEL                    1
SENKE                    1
MAGIRUS DEUTZ            1
Name: MARCA, Length: 416, dtype: int64

In [31]:
print("Clase: ",vehiculos.CLASE.isnull().sum())
print("Marca: ",vehiculos.MARCA.isnull().sum())
print("Linea: ",vehiculos.LINEA.isnull().sum())

Clase:  0
Marca:  0
Linea:  0

In [32]:
marcasvehiculos = set(vehiculos.MARCA.get_values())
marcasvehiculos = list(marcasvehiculos)
print(marcasvehiculos)

['HALEI', 'VECTRIX', 'SEAT', 'SHINERAY', 'SACHS BIKES', 'YAMASAKY', 'EKA MOTORS', 'XINGYUE', 'DESOTO', 'URAL', 'JINGLONG', 'GLOW', 'TYCO', 'LMX', 'APRIL', 'ISUZU', 'XINYANG', 'SIGMA', 'JINLING', 'MERCEDES BENZ', 'CHANA', 'TATA', 'ZQ MOTORS', 'QINGQI', 'GEELY', 'BRITISH', 'KINLON', 'DUKAR', 'FERRARI', 'HAMMERHEAD', 'BOMBARDER', 'KONCEO', 'MURAVEY', 'GREAT WALL MOTOR', 'PEUGEOT', 'DONGBEN', 'XIANFENG', 'MESSERSCHMITT', 'VESPA', 'AVA', 'BOSS ATV', 'TRIUMPH', 'AYCO', 'EMOTIRE', 'TX MOTORS', 'YAKEY', 'HTA', 'ZHONGHUA', 'KIA', 'SCOUTY', 'AMC', 'JIN JIAN', 'KEEWAY', 'HILLMAN', 'DUST', 'MONTEZA', 'TAO TAO', 'KAXAMOTOS', 'DAEWOO', 'CHANGAN', 'FEIZHEN', 'PIAGGIO', 'KIAMASTER', 'WILLYGER', 'BYD', 'FRIBEST', 'SENKE', 'LINCOLN', 'MTK', 'MOTOKART', 'HUDSON', 'CHECKER', 'SANLG', 'F.S.O.', 'MOTO GUZZI', 'HONGXING', 'CARTER', 'SMC', 'GEO', 'COLMOVE', 'HISUN TIGER', 'SATURN', 'WANHU', 'UNISON', 'DS', 'TIXXON', 'ACCURA', 'AMPLE', 'DATSUN', 'CARIBE', 'ZASTAVA', 'MOTO ABC', 'LOTUS - LML', 'PIONEER', 'LIANGZI', 'WANXIN', 'CAGIVA', 'MERCURY', 'NASH', 'BECK', 'MINI', 'SACHS', 'SIMCA', 'CONCORDE', 'BSA', 'ATV RACING', 'FASTER', 'TRIWIL', 'DERBI', 'GBMCO', 'KHOOBRA', 'YITAKI', 'HAOMEN', 'ZERO', 'RENAULT', 'DINLI', 'BORGO', 'AUTO UNION', 'CHEVROLET', 'ALFA ROMEO', 'CUSTOM CHROME', 'OLTCIT', 'YINGANG', 'HAOJIANG', 'UNICO', 'BAER BAGULET', 'CATFLYER', 'XINLING', 'SUPERFORMANCE', 'MD BIKES', 'UKM', 'YGM', 'LOTUS', 'BRONTO', 'ACB', 'VICTORY', 'AMW', 'LAND ROVER', 'MORGAN', 'GOES', 'RLX', 'TARANTULA', 'LINHAI', 'ATM', 'ZHENGLI', 'JINFENG', 'EAGLE CARGO', 'JIANSHE', 'CHRYSLER', 'KAWASAKI', 'SHENKE', 'CATERHAM', 'FAW', 'BRONCO', 'JIALING', 'ACE MOTOR', 'AUTECO BAJAJ', 'MG', 'ACCURO', 'HISUN', 'AUSTIN', 'FENGCHI', 'FORD', 'POLARIS ATV', 'PASSAGGIO', 'SM', 'SLNG', 'DACIA', 'MITSUBISHI', 'ZUMY', 'TALON', 'FIAT', 'UM', 'LADA', 'BOMBARDIER', 'CHERY', 'INTERNATIONAL', 'KANCHAO', 'YCF', 'NORTON', 'SAAB', 'OPEL', 'SKODA', 'BASHAN', 'MIKILON', 'ARCTIC CAT', 'SUBARU', 'VAUXHALL', 'ZILI MOTORS', 'HUSQVARNA', 'HUSABERG', 'JOYNER', 'XILING', 'KAZUMA', 'BUGGY', 'JEZHANG', 'LONCIN', 'JONWAY', 'INDIAN', 'KART', 'KAYAK', 'RAMBLER', 'BENELLI', 'LIZHONG', 'POLARIS RANGER', 'AUDI', 'GREAT WALL', 'CHOPPER NATION', 'DKW', 'TAVRIA', 'CARTER BROTHERS', 'AUTO BIANCHI', 'MV AGUSTA', 'SUNBEAM', 'MZ', 'OLDSMOBILE', 'N.S.U', 'NIKITA', 'MGB', 'HYOSUNG', 'KAISER', 'GAZ', 'LEXUS', 'CFMOTO', 'ACM ANGEL´S', 'HONLEI', 'UNITED MOTORS', 'ROKETA', 'WARTBURG', 'ROA', 'BAIC', 'TMEC', 'MORRIS', 'AG', 'SYM', 'POLONEZ', 'DAIHATSU', 'ISO', 'LINTEX', 'BMW', 'CONT. MARK', 'PACKARD', 'BOURGET', 'POLARIS', 'YAMAHA', 'AMM', 'MAX MOTOR', 'WESTFIELD', 'VAISAND', 'ATV RATO', 'PANTERA', 'HONDA', 'MCLAREN', 'PORSCHE', 'ASTON MARTIN', 'SANYA', 'STUDEBAKER', 'GILERA', 'CADILLAC', 'BRILLIANCE', 'WARZAWA', 'SCION', 'LAMBORGHINI', 'BUYANG', 'ROVER', 'ILLUSION', 'BENTLEY', 'APRIL EV', 'LA SALLE', 'LANCIA', 'ARIEL', 'JINLUN', 'JAWA', 'SINGER', 'GOMOTOR', 'BIMOTA', 'YAMATI', 'LIFAN', 'HYUNDAI', 'HARLEY DAVIDFSON', 'MORINI', 'TEMPEST', 'BUICK', 'GOGGOMOBIL', 'GSMOON', 'SMART', 'ECOBICIS', 'HUALIN', 'KTM', 'ACURA', 'HENRY J', 'JMSTAR', 'U.S.W.MOTORS', 'SSANGYONG', 'SANDI', 'TONGKO', 'JIANG CHANGE', 'TOYOTA', 'VOLGA', 'WCR', 'LAMBRETA', 'WEST', 'BRP CAN AM', 'KAZUKI', 'ATV', 'RIEJU', 'BORGWARD', 'ZHONGNENG', 'VERUCCI', 'VOLKSWAGEN', 'MAGIRUS DEUTZ', 'THUNDER CYCLE', 'HUANSONG', 'LINGYUN', 'MASERATI', 'LUCKY LION', 'SUKYAMA', 'JAGUAR', 'EUROPAMOTOS', 'USW MOTORS', 'TITANIA', 'BERRECO', 'IZHMASH', 'SUPERMOTO', 'YAKIMA', 'ON THE ROAD AGAIN', 'TIANDA', 'PLYMOUTH', 'LIANMEI MOTOR', 'SUZUKI', 'AUTECO', 'GMC', 'ALEKO', 'SKOOT MOTORCYCLES', 'BETA', 'LML', 'AUPACO', 'BENSOON', 'M.G.U', 'VENTO', 'CHANGHE', 'SP@ZZIO', 'LANDWIND', 'DAYANG', 'HUNTER', 'MOEPED', 'YADEA', 'KYOTO', 'ESSEX', 'JET UKM', 'ZID', 'FIRENZE', 'IOTA', 'COBRA', 'KINROAD', 'NITRO', 'ZANELLA', 'TEAN RYDER', 'KYMCO', 'DODGE', 'GAS GAS', 'ROLLS ROYCE', 'DUCATI', 'JIANGNAN GLOW', 'YUGO', 'BAJAJ', 'MAZDA', 'NISSAN', 'ROYAL ENFIELD', 'AKT', 'SCOOTER', 'OAKLAND', 'CHAMPION PERFOMANCE', 'HAFEI', 'JIANGSU', 'HAIMA', 'ZHEJIANG', 'NECKAR', 'TVS', 'APRILEV', 'FUXIN', 'CHINSU', 'FULU', 'EAGLE', 'CMC', 'MGU', 'RIDER', 'JINCHENG', 'HARLEY DAVIDSON', 'ZIMMER', 'SKYGO', 'ELEPHANT POWER', 'UAZ', 'HERO', 'AVANTI', 'TELDIUX', 'ZNEN', 'HILTRAYKER', 'VOLVO', 'PONTIAC', 'BEIJING', 'GUZI', 'NATSUKI', 'SUKIDA', 'STUDEBACKER', 'TOURING', 'ZIP STAR', 'HUMMER', 'APRILIA', 'BUELL', 'PANZER', 'JAC', 'ZONGSHEN', 'AUTOKRAFT', 'ENERGY MOTION', 'CITROEN']

In [33]:
vehiculos[vehiculos.CLASE == 'Motocicleta']

Empty DataFrame
Columns: [CLASE, MARCA, LINEA]
Index: []

In [34]:
vehiculos.CLASE.unique()
tipos= vehiculos.CLASE.unique()

In [35]:
numvehiculos = len(vehiculos.CLASE.unique())

In [36]:
clasesVehiculos =  pd.DataFrame([(i,tipos[i]) for i in range(numvehiculos)], columns=('id','nombreClase'))

In [37]:
clases = clasesVehiculos

In [38]:
clasesVehiculos[clasesVehiculos.nombreClase == "MOTOCARRO\nELECTRICO"]["id"]

Series([], Name: id, dtype: int64)

In [39]:
def getIDvehicle(nombreVehiculo):
    """Recibe string"""
    return int(clasesVehiculos[clasesVehiculos.nombreClase == nombreVehiculo]["id"])

In [40]:
print(getIDvehicle("AUTOMOVIL"))

0

In [41]:
MarcaVehiculos = vehiculos[["CLASE","MARCA"]]

In [42]:
agrupacionvehiculos= vehiculos.groupby(['CLASE','MARCA'])

In [43]:
def makeTableMarca():
    k = 0
    lista =[]
    for i,j in agrupacionvehiculos.indices:
        lista.append((k,getIDvehicle(i),j))
        
        k += 1
    return pd.DataFrame(lista, columns=('id','idClase','nombreMarca'))

## se crea segunda tabla

In [44]:
VehiculosMarca = makeTableMarca()

In [45]:
def getIDMarca(nombreMarca, idclase):
    tmp = VehiculosMarca[VehiculosMarca.nombreMarca == nombreMarca ][["id",'idClase']]
    return int(tmp[tmp.idClase == idclase]['id'])

In [46]:
getIDMarca('AKT',4)

153

In [47]:
vehiculos.shape[0]

7085

In [48]:
def quelohagatodo():
    lista = []
    k= 0
    for i in range(vehiculos.shape[0]):
        marca = vehiculos.iloc[i].MARCA
        nombre = vehiculos.iloc[i].LINEA
        clase = vehiculos.iloc[i].CLASE
        idv = getIDvehicle(clase)
        idm = getIDMarca(marca,idv)
        lista.append((k,idv,idm,nombre))
        k+=1
        
    return pd.DataFrame(lista, columns=('id','idClase','idMarca','nombreMarca'))

In [49]:
VehiculosLinea = quelohagatodo()

In [50]:
VehiculosLinea.head()

   id  idClase  idMarca                    nombreMarca
0   0        0        0                          ACURA
1   1        0        1  INTEGRA (LINEA BASE ESTANDAR)
2   2        0        1              INTEGRA 1.8 2P MT
3   3        0        1         INTEGRA 1.8 VTEC 4P MT
4   4        0        1                LEGEND KA766P-L

In [51]:
clasesVehiculos.head()

   id          nombreClase
0   0            AUTOMOVIL
1   1          MOTOCICLETA
2   2  MOTOCARRO ELECTRICO
3   3            MOTOCARRO
4   4           CUATRIMOTO

In [52]:
VehiculosMarca.head()

   id  idClase   nombreMarca
0   0        0        ACCURA
1   1        0         ACURA
2   2        0         ALEKO
3   3        0    ALFA ROMEO
4   4        0  ASTON MARTIN

In [53]:
print(getIDvehicle("AUTOMOVIL"))

0

In [54]:
VehiculosMarca.to_csv('marca.csv')
clasesVehiculos.to_csv('clase.csv')
VehiculosLinea.to_csv('linea.csv')